*~
.\#*
\#*
/.emacs.d/geben/.storage
/.emacs.d/.erc-auth
/.emacs.d/url/cookies
/.emacs.d/session.*
/.xmonad/xmonad-i386-linux
/.xmonad/xmonad.errors
/.xmonad/xmonad.hi
/.xmonad/xmonad.o
/.xmonad/history
/.byobu/sed*
/.emacs.d/.emms-lastfm-auth
/.emacs.d/.emacs.desktop.lock
/.emacs.d/.emacs.desktop
/.eshell/history
/.eshell/lastdir
/.emacs.d/.org-id-locations
/.byobu/profile
/.byobu/status
