[user]
	name = Aleksei Gusev
	email = aleksei.gusev@gmail.com
[core]
	excludesfile = ~/.gitconfig_global_gitignore
	pager =
	editor = emacs --no-desktop --

[diff]
	tool = emacs
[difftool "emacs"]
	cmd = emacs --no-desktop --eval \"(ediff-files \\\"$LOCAL\\\" \\\"$REMOTE\\\")\"
[difftool "vscode"]
	cmd = "code --wait --diff  "

[merge]
	tool = emacs
[mergetool "emacs"]
	cmd = "emacs --no-desktop "
[mergetool "vscode"]
	cmd = "code --wait "


[color]
	ui = true
[push]
	default = matching
[github]
	user = hron
[init]
	defaultBranch = main
[rerere]
	enabled = true
