*~
.\#*
\#*
/.emacs.d/geben/.storage
/.emacs.d/.erc-auth
/.emacs.d/url/cookies
/.emacs.d/session.*
/.xmonad/xmonad-i386-linux
/.xmonad/xmonad.errors
/.xmonad/xmonad.hi
/.xmonad/xmonad.o
/.xmonad/history
/.byobu/sed*
/.emacs.d/.emms-lastfm-auth
/.emacs.d/.emacs.desktop.lock
/.emacs.d/.emacs.desktop
/.eshell/history
/.eshell/lastdir
/.emacs.d/.org-id-locations
/.byobu/profile
/.byobu/status
/.xmonad/xmonad-x86_64-linux
/.yakserver/credentials
*.elc
/.emacs.d/.secret-file
/org/from-mobile.org
/org/mobileorg
/.emacs.d/projectile.cache

/.atom/.apm
/.atom/blob-store
/.atom/packages
/.atom/storage
/.atom/compile-cache
/.atom/dev
/.atom/.npm
/.atom/.node-gyp
/.atom/split-diff/
/.atom/recovery
/.emacs.desktop

/.config/fish/fishd.*
.config/zed/.tmp*
.clj-kondo/
.lsp/
/.logseq/graphs/*.transit
/.config/devilspie2/debug
/.config/devilspie2/errors
/.logseq/git/

/.config/emacs/auto-save-list
/.config/emacs/eln-cache
/.config/emacs/straight/build
/.config/emacs/straight/modified
/.config/emacs/straight/repos
/.config/emacs/straight/build-cache.el
/.config/emacs/transient
/.config/emacs/projects
/.config/zed/development_credentials
/.config/nushell/nu-scripts.nu
/.config/emacs/tramp
/.config/emacs/bookmarks
/.config/emacs/org-roam.db
/.config/emacs/tree-sitter/
/.config/emacs/elpa/
/.config/emacs/session.*
/.config/emacs/history
/.config/emacs/recentf
/.config/emacs/places
/.config/emacs/.org-id-locations
