*~
.\#*
\#*
/.emacs.d/geben/.storage
/.emacs.d/.erc-auth
/.emacs.d/url/cookies
/.emacs.d/session.*
/.xmonad/xmonad-i386-linux
/.xmonad/xmonad.errors
/.xmonad/xmonad.hi
/.xmonad/xmonad.o
/.xmonad/history
/.byobu/sed*
/.emacs.d/.emms-lastfm-auth
/.emacs.d/.emacs.desktop.lock
/.emacs.d/.emacs.desktop
/.eshell/history
/.eshell/lastdir
/.emacs.d/.org-id-locations
/.byobu/profile
/.byobu/status
/.xmonad/xmonad-x86_64-linux
/.yakserver/credentials
*.elc
/.emacs.d/.secret-file
/org/from-mobile.org
/org/mobileorg
/.emacs.d/projectile.cache

/.atom/.apm
/.atom/blob-store
/.atom/packages
/.atom/storage
/.atom/compile-cache
/.atom/dev
/.atom/.npm
/.atom/.node-gyp
/.atom/split-diff/
/.atom/recovery
/.emacs.desktop
