[user]
	name = Aleksei Gusev
	email = aleksei.gusev@gmail.com
[core]
	excludesfile = /home/gusev/.gitconfig_global_gitignore
	pager = 

[color]
	ui = true
[push]
	default = matching
[github]
	user = hron
