[user]
	name = Aleksei Gusev
	email = aleksei.gusev@gmail.com
[core]
	excludesfile = ~/.gitconfig_global_gitignore
	pager =
	editor = code --wait

[diff]
	tool = vscode

[difftool "emacs"]
	cmd = emacs --eval \"(ediff-files \\\"$LOCAL\\\" \\\"$REMOTE\\\")\"

[color]
	ui = true
[push]
	default = matching
[github]
	user = hron
[init]
	defaultBranch = main
[rerere]
	enabled = true
[difftool "vscode"]
	cmd = "code --wait --diff  "
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = "code --wait "
