Emacs*font: terminus
Emacs*useXIM: false

Xcursor.size: 18
Xcursor.theme: Human
Xcursor.theme_core: true

*VT100*foreground: gray90
*VT100*background: black
*VT100.eightBitInput: false
*VT100.font: -*-terminus-medium-r-*-*-14-*-*-*-*-*-iso10646-*
