! Emacs*font: -xos4-terminus-medium-*-*-*-14-*-*-*-*-*-iso10646-1
! Emacs*font: Dejavu Sans Mono 10
Emacs.font: -jmk-neep-medium-r-normal-*-*-140-*-*-*-*-iso10646-1
! Emacs.font: Ubuntu Mono-11
Emacs*useXIM: false
! Emacs.FontBackend: xft

*VT100*foreground: white
*VT100*background: black
*VT100.eightBitInput: false
*VT100.font: -*-terminus-medium-r-*-*-14-*-*-*-*-*-iso10646-*

! Local variables:
! compile-command: "xrdb ~/.Xresources"
! End:
