"*":
  "advanced-open-file":
    createDirectories: true
    fuzzyMatch: true
    helmDirSwitch: true
  "atom-ctags":
    autoBuildTagsWhenActive: true
    disableComplete: true
  "comment-dwim-light": {}
  core:
    autoHideMenuBar: true
    closeEmptyWindows: false
    disabledPackages: [
      "activate-power-mode"
    ]
    packagesWithKeymapsDisabled: [
      "auto-replace-in-selection"
      "ruby-block"
      "activate-power-mode"
      "highlight-line"
      "split-diff"
      "zentabs"
      "git-control"
      "git-status"
      "git-commit"
      "blame"
    ]
    projectHome: "E:\\src\\"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "zenburn"
    ]
  dash:
    filenames:
      "gruntfile.js": [
        "grunt"
      ]
    grammars:
      "Ruby Haml": [
        "ruby"
        "rails"
        "html"
        "javascript"
        "jquery"
        "css"
      ]
  editor:
    fontFamily: "Input Mono"
    fontSize: 15
    invisibles: {}
    lineHeight: 1.2
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "d583c4bd-71f3-9e8a-faa5-fc83973e361c"
  "fuzzy-finder":
    ignoredNames: [
      "db/migrate"
      "vendor/cache"
    ]
  "git-plus":
    diffs:
      wordDiff: false
    general:
      _analyticsUserId: "bca9df50-622c-4773-a90f-b70f633f05da"
      enableStatusBarIcon: false
  "highlight-line":
    hideHighlightOnSelect: true
  linter:
    showErrorPanel: false
    showErrorTabFile: false
    showErrorTabProject: false
    statusIconPosition: "Right"
    statusIconScope: "File"
  "linter-rubocop":
    command: "c:\\msys64\\home\\aleksei\\bin\\rubocop-wrapper"
  "linter-ruby":
    ignoredExtensions: [
      "erb"
      "md"
      "html"
    ]
  "linter-sass-lint": {}
  "linter-scspell": {}
  "merge-conflicts": {}
  "one-light-ui": {}
  "rails-rspec": {}
  "ruby-block-converter": {}
  "run-command2":
    shellCommand: "c:\\Cygwin64\\bin\\bash.exe"
  "spell-check": {}
  "split-diff":
    ignoreWhitespace: true
  tabs:
    usePreviewTabs: true
  "toggle-quotes": {}
  "tree-view-git-status": {}
  welcome:
    showOnStartup: false
  zentabs:
    neverCloseUnsaved: true
