"*":
  "advanced-open-file":
    createDirectories: true
    fuzzyMatch: true
    helmDirSwitch: true
  "comment-dwim-light": {}
  core:
    autoHideMenuBar: true
    packagesWithKeymapsDisabled: [
      "auto-replace-in-selection"
    ]
    projectHome: "C:\\Users\\aleks\\src\\"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    fontFamily: "Consolas"
    fontSize: 18
    invisibles: {}
    lineHeight: 1.2
    scrollPastEnd: true
    showIndentGuide: true
  "exception-reporting":
    userId: "d583c4bd-71f3-9e8a-faa5-fc83973e361c"
  linter: {}
  "linter-ruby": {}
  "run-command2":
    shellCommand: "c:\\Cygwin64\\bin\\bash.exe"
  "toggle-quotes": {}
  welcome:
    showOnStartup: false
