"*":
  "advanced-open-file":
    createDirectories: true
    fuzzyMatch: true
    helmDirSwitch: true
  "comment-dwim-light": {}
  core:
    autoHideMenuBar: true
    packagesWithKeymapsDisabled: [
      "auto-replace-in-selection"
      "ruby-block"
    ]
    projectHome: "E:\\src\\"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    fontFamily: "Fira Code"
    invisibles: {}
    lineHeight: 1.2
    scrollPastEnd: true
    showIndentGuide: true
  "exception-reporting":
    userId: "d583c4bd-71f3-9e8a-faa5-fc83973e361c"
  linter: {}
  "linter-rubocop":
    command: "ruby.exe C:\\cygwin64\\home\\aleks\\.gem\\ruby\\gems\\rubocop-0.38.0\\bin\\rubocop"
  "linter-ruby": {}
  "linter-sass-lint": {}
  "linter-scspell": {}
  "rails-rspec": {}
  "ruby-block-converter": {}
  "run-command2":
    shellCommand: "c:\\Cygwin64\\bin\\bash.exe"
  "spell-check": {}
  tabs:
    usePreviewTabs: true
  "toggle-quotes": {}
  welcome:
    showOnStartup: false
