[Desktop Entry]
Categories=Utility
Comment[en_US]=Get Things Done with org-mode
Comment=Get Things Done with org-mode
Exec=emacsclient --create-frame --socket-name=gtd --eval "(aleksei-org-gtd)" || env EMACS_SERVER_NAME=gtd emacs --no-desktop --name org-mode --eval "(aleksei-org-gtd)"
Icon=org-mode-unicorn
MimeType=
Name=GTD
Path=
StartupNotify=true
StartupWMClass=org-mode
Terminal=false
Type=Application
