[Desktop Entry]
Name=Dark Mode
Exec=lookandfeeltool --apply org.kde.breezedark.desktop
Type=Application
Terminal=false
Icon=preferences-desktop-theme
Categories=Utility;
