[Desktop Entry]
Categories=Utility
Comment=Telegram In Emacs
Exec=emacs --no-desktop --name telega --eval "(telega)"
Icon=telega
Name=Telega
StartupNotify=true
StartupWMClass=telega
Terminal=false
TerminalOptions=
Type=Application
Version=1.4
